apiVersion: apps/v1
kind: Deployment
metadata:
  name: corecounter-deployment
spec:
  selector:
    matchLabels:
      app: corecounter
  replicas: 1 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: corecounter
    spec:
      containers:
      - name: corecounter
        image: allysono/hw:latest
        imagePullPolicy: Always

